NODE-RED/nodered.txt
[{"id":"6057c856.a8f4b8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"dc0b39bf.371098","type":"google-service-account","z":"","name":"Google Key","scope":[],"way":"json","check_dialogflow":"","check_speech":""},{"id":"612b7876.326b28","type":"dialogflowv2-token","z":"","name":"PROJET FYC"},{"id":"2ef9a965.167e46","type":"websocket-listener","z":"","path":"fyc","wholemsg":"true"},{"id":"7c09bd5f.737484","type":"Mic","z":"6057c856.a8f4b8","name":"","outputPayloadType":"buffer","endian":"little","bitwidth":"32","encoding":"signed-integer","channels":"1","device":"plughw:1,0","rate":"22050","silenceTimeout":"0","exitOnSilence":"false","debug":"true","active":true,"x":530,"y":140,"wires":[["35591c53.6a9584"]]},{"id":"b695f34e.d3058","type":"google-speech-text","z":"6057c856.a8f4b8","name":"","auth":"dc0b39bf.371098","input":"payload","output":"payload","inputType":"msg","intype":"content","api":"stt","getVoices":false,"encoding":"","encodingType":"str","sampleRateHertz":"22050","sampleRateHertzType":"num","languageCode":"","languageCodeType":"str","maxAlternatives":"","maxAlternativesType":"num","profanityFilter":"false","profanityFilterType":"bool","speechContexts":"[]","speechContextsType":"json","enableWordTimeOffsets":"false","enableWordTimeOffsetsType":"bool","speakingRate":"","speakingRateType":"num","pitch":"","pitchType":"num","volumeGainDb":"","volumeGainDbType":"num","voiceName":"","voiceNameType":"str","ssmlGender":"","ssmlGenderType":"str","x":1060,"y":120,"wires":[["ca527739.591a08"]]},{"id":"dacbb6fa.61df08","type":"ffmpeg-conversion","z":"6057c856.a8f4b8","name":"","format":"wav","audiochannels":"mono","x":850,"y":120,"wires":[["b695f34e.d3058"]]},{"id":"1fe31bb0.c3d654","type":"comment","z":"6057c856.a8f4b8","name":"MICROPHONE CAPTURE","info":"","x":190,"y":60,"wires":[]},{"id":"f49747de.80a9f8","type":"dialogflowv2","z":"6057c856.a8f4b8","dialogflow":"612b7876.326b28","language":"fr","debug":true,"variable":"topic","x":1280,"y":160,"wires":[["5c10d22b.65b24c","bacf18f8.82f178"]]},{"id":"ca527739.591a08","type":"function","z":"6057c856.a8f4b8","name":"format to dialogflow","func":"if(msg.payload.alternatives.length !== 0) {\n    msg.payload = msg.payload.alternatives[0].transcript;\n} else {\n    msg.payload = \" \";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":160,"wires":[["f49747de.80a9f8"]]},{"id":"5c10d22b.65b24c","type":"debug","z":"6057c856.a8f4b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1450,"y":140,"wires":[]},{"id":"8fdd35d3.3c0d98","type":"comment","z":"6057c856.a8f4b8","name":"WEB SOCKET OUT","info":"","x":170,"y":240,"wires":[]},{"id":"8ccbb500.aa59c8","type":"comment","z":"6057c856.a8f4b8","name":"WEB SOCKET IN","info":"","x":550,"y":240,"wires":[]},{"id":"9c68cd6a.aa5bb","type":"websocket in","z":"6057c856.a8f4b8","name":"","server":"2ef9a965.167e46","client":"","x":130,"y":280,"wires":[["e4047adc.329ae8","34d00649.f9082a"]]},{"id":"34d00649.f9082a","type":"link out","z":"6057c856.a8f4b8","name":"websocket out","links":["fb2ba562.979e68"],"x":235,"y":280,"wires":[]},{"id":"58425a5f.058434","type":"link in","z":"6057c856.a8f4b8","name":"websocket in","links":["bacf18f8.82f178","1913b884.064a27"],"x":475,"y":280,"wires":[["3357e5df.37914a"]]},{"id":"d5d241eb.83fc9","type":"websocket out","z":"6057c856.a8f4b8","name":"","server":"2ef9a965.167e46","client":"","x":840,"y":280,"wires":[]},{"id":"3357e5df.37914a","type":"change","z":"6057c856.a8f4b8","name":"","rules":[{"t":"delete","p":"_session","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":280,"wires":[["d5d241eb.83fc9"]]},{"id":"bacf18f8.82f178","type":"link out","z":"6057c856.a8f4b8","name":"","links":["58425a5f.058434"],"x":1415,"y":180,"wires":[]},{"id":"fb2ba562.979e68","type":"link in","z":"6057c856.a8f4b8","name":"filter action in","links":["34d00649.f9082a"],"x":95,"y":120,"wires":[["c72a2dc3.8034b"]]},{"id":"707ebf0b.cad7c","type":"function","z":"6057c856.a8f4b8","name":"check action","func":"if(msg.payload) {\n    if(msg.payload == \"start\" || msg.payload == \"stop\") {\n        return msg;\n    }\n}\n","outputs":1,"noerr":0,"x":350,"y":140,"wires":[["7c09bd5f.737484"]]},{"id":"e4047adc.329ae8","type":"debug","z":"6057c856.a8f4b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":270,"y":320,"wires":[]},{"id":"35591c53.6a9584","type":"switch","z":"6057c856.a8f4b8","name":"","property":"event","propertyType":"msg","rules":[{"t":"eq","v":"end","vt":"str"},{"t":"eq","v":"start","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":140,"wires":[["dacbb6fa.61df08"],["1913b884.064a27"]]},{"id":"1913b884.064a27","type":"link out","z":"6057c856.a8f4b8","name":"send start","links":["58425a5f.058434"],"x":775,"y":160,"wires":[]},{"id":"c72a2dc3.8034b","type":"switch","z":"6057c856.a8f4b8","name":"","property":"text","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":120,"wires":[["23738ff.58ea27"],["707ebf0b.cad7c"]]},{"id":"23738ff.58ea27","type":"link out","z":"6057c856.a8f4b8","name":"text to dialogflow","links":["8c25f6aa.a9cba8"],"x":295,"y":100,"wires":[]},{"id":"8c25f6aa.a9cba8","type":"link in","z":"6057c856.a8f4b8","name":"text to dialogflow","links":["23738ff.58ea27"],"x":955,"y":200,"wires":[["b790fedd.4f567"]]},{"id":"b790fedd.4f567","type":"function","z":"6057c856.a8f4b8","name":"add event end","func":"msg.event = \"end\";\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":200,"wires":[["f49747de.80a9f8"]]}]